{% with %}

    {% set display = value.display %}
    {% set content = value.content %}

<article class="{{ content.__class__.__name__|lower() }} {{ display }}">
    
    {% if display == 'teaser' %}

    <h4><a href="{{ content.url('view') }}">{{ content.title }}</a></h4>
    <div class="info">{{ content.primary_tag.name }}</div>
    <div class="body">
            {{ content.body|truncate(256, end='…') }}
    </div>

    {% else %}

        <div class="info">
            {%- for tag in content.secondary_tags -%}
                {{ tag.name }}<br />
            {%- endfor -%}
        </div>

        <div class="body">
            {{ content.body }}
        </div>

    {% endif %}
</article>

{% endwith %}
