@font-face {
    src: url('fonts/orbitron/Orbitron Light.otf');
    font-family: "Orbitron";
    font-weight: 100;
    font-style: normal;
}

@font-face {
    src: url('fonts/orbitron/Orbitron Medium.otf');
    font-family: "Orbitron";
    font-weight: 500;
    font-style: normal;
}

@font-face {
    src: url('fonts/orbitron/Orbitron Bold.otf');
    font-family: "Orbitron";
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url('fonts/orbitron/Orbitron Black.otf');
    font-family: "Orbitron";
    font-weight: 900;
    font-style: normal;
}
