SECRET_KEY = "{{ secret_key }}"
CRYPTO_KEYLENGTH = {{ keylength }}
DATABASE = "{{ database }}"
#CERT_MAX_LIFETIME = 90 * 24 * 60 * 60 # shortens maximum allowed certificate lifetime to 90 days
CA_KEY = "tls/key.pem"
CA_CERT = "tls/cert.pem"
DOMAIN = "{{ domain }}"
SITE_NAME = "{{ domain }}"
SMTP_HOST = "{{ mail_server }}"
SMTP_PORT = {{ mail_port }}
SMTP_ACCOUNT = "{{ mail_user }}"
SMTP_PASSWORD = "{{ mail_password }}"
SMTP_FROM = "{{ mail_address }}"
GPG_HOME = "{{ gnupg_homedir }}"
GPG_PASSPHRASE = "{{ gnupg_passphrase }}"
