SECRET_KEY = "{{ secret_key }}"
DATABASE = "{{ database }}"
#CERT_LIFETIME
#CA_KEY
#CA_CERT
SITE_NAME = "{{ domain }}"
SMTP_HOST = "{{ mail_server }}"
SMTP_PORT = {{ mail_port }}
SMTP_ACCOUNT = "{{ mail_user }}"
SMTP_PASSWORD = "{{ mail_password }}"
SMTP_FROM = "{{ mail_address }}"
GPG_HOME = "{{ gnupg_homedir }}"
GPG_PASSPHRASE = "{{ gnupg_passphrase }}"
