[uwsgi]

plugin = python
# HOME needed only for pudb debugger
env = HOME={{ project_dir }}
virtualenv = {{ project_dir }}
if-env = DEBUG
honour-stdin = true
endif =

chdir = {{ project_dir }}
socket = /tmp/{{ project_name }}.sock
#logger = file:uwsgi_poobrains.log
wsgi = {{ project_name}}:app
uid = {% if deployment_os == 'freebsd' %}www{% else %}nginx{% endif %}
gid =  {% if deployment_os == 'freebsd' %}www{% else %}nginx{% endif %}
