{% extends "form/form.jinja" %}
{% block post %}
    {{ super() }}
    {% if content.preview %}
        <div class="preview">
            {{ content.preview }}
        </div>
    {% endif %}
{% endblock %}
