{% extends "form/form.jinja" %}

{% block fields %}
    <p>Solve this menial task to prove you're not a robot.</p>
    <img class="captcha" src="{{ content.challenge.url('raw') }}" />
    {{ super() }}
{% endblock %}
