{% if config.DEBUG %}<span class="debug-hint" title="{{ self }}">?</span>{% endif %}
<fieldset name="{{ content.prefix}}.{{ content.name }}">

<div class="title-wrapper"><label>{{ content.title }}</label></div>

{% for field in content %}
    {{ field.render() }}
{% endfor %}

{{ content.render_controls() }}

</fieldset>
