<form
    method="{{ content.method }}"
    {% if content.action %}action="{{ content.action }}"{% endif %}
    enctype="multipart/form-data" >

{% for field in content %}
    {{ field.render() }}
{% endfor %}
{{ content.render_controls() }}

</form>
