<form
    id="{{ content.ref_id }}"
    method="{{ content.method }}"
    {% if content.action %}action="{{ content.action }}"{% endif %}
    enctype="multipart/form-data" >
{% if config.DEBUG %}<span class="debug-hint" title="{{ self }}">?</span>{% endif %}

{% block header %}{%endblock%}

<div class="content">
{% block fields %}
    {% for field in content %}
        {{ field.render() }}
    {% endfor %}
{% endblock %}
</div>

<section class="controls">
{% block controls %}
    {{ content.render_controls() }}
{% endblock %}
</section>

</form>

{% block post %}{% endblock %}
