<form
    id="{{ content.ref_id }}"
    method="{{ content.method }}"
    {% if content.action %}action="{{ content.action }}"{% endif %}
    enctype="multipart/form-data" >

{% block header %}{%endblock%}

{% block fields %}
    {% for field in content %}
        {{ field.render() }}
    {% endfor %}
{% endblock %}

{% block footer %}
    <footer>
        {{ content.render_controls() }}
    </footer>
{% endblock %}

</form>
