<?xml version="1.0" encoding="UTF-8"?>

<svg class="map" xmlns:osb='http://www.openswatchbook.org/uri/2009/osb' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#' xml:space='preserve' xmlns:cc='http://creativecommons.org/ns#' viewBox='0 0 {{ content.width }} {{ content.height }}' width="{{ content.width }}" height="{{ content.height }}" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:dc='http://purl.org/dc/elements/1.1/'>
    <metadata>
        <rdf:RDF>
            <cc:Work rdf:about=''>
                <dc:format>image/svg+html</dc:format>
                <dc:type rdf:resource='http://purl.org/dc/dcmitype/InteractiveResource' />
                <dc:title />
            </cc:Work>
        </rdf:RDF>
    </metadata>

    <style>
        {{ content.style }}
    </style>

    {% include "svg/defs.jinja" %}

    <svg class="terrain">
        <rect class="ocean" x="0" y="0" width="100%" height="100%" />
        {% include 'svg/world.jinja' %}
    </svg> <!-- / .terrain -->

    <g class="datasets">
    {% for dataset in content.datasets %}
        <g class="dataset">
            {% for datapoint in dataset.authorized_datapoints %} 
            <g id="{{ datapoint.ref_id }}" class="datapoint">

                <a href="#{{ datapoint.ref_id }}">
                    <use href="#marker" class="marker" x="{{ datapoint.x }}" y="{{ datapoint.y }}" />
                </a>

                <g class="infobox">
                    <switch> <!-- switch uses first item with supported (or no) requiredExtensions -->
                        <foreignObject class="html" requiredExtensions="http://www.w3.org/1999/xhtml" x="{{ datapoint.infobox_x }}" y="{{ datapoint.infobox_y }}" width="{{ datapoint.infobox_width }}" height="{{ datapoint.infobox_height }}px"> <!-- either render HTML -->
                            <body xmlns="http://www.w3.org/1999/xhtml">
                                <h1>{{ datapoint.title }}</h1>
                                <div class="description">{{ datapoint.description.render() }}</div>
                                <div class="footer">@{{ datapoint.latitude }} / {{ datapoint.longitude }}</div>
                            </body>
                        </foreignObject>
                        
                        <svg class="fallback" x="{{ datapoint.infobox_x }}" y="{{ datapoint.infobox_y }}" width="{{ datapoint.infobox_width }}" height="{{ datapoint.infobox_height}}"> <!-- or fall back to an SVG representation that shows the markdown plainly -->

                            <rect class="background" x="0" y="0" width="100%" height="100%" />

                            <text x="10" y="25" class="heading" width="180">{{ datapoint.title }}</text>

                            {% set lines = datapoint.description.split("\n") %}

                            <g class="description">
                            {% for linenum in range(1, lines|length + 1) %}
                                {% set line = lines[linenum - 1] %}
                                <text x="10" y="{{ 25 + 5 + (20 * linenum) }}">{{ line }}</text>
                            {% endfor %}
                            </g>

                            <text x="10" y="{{ 25 + 5 + (20 * (lines|length + 1)) + 10 }}">@{{ datapoint.latitude }}, {{ datapoint.longitude }}</text>

                        </svg>

                    </switch>

                </g>

            </g>
            {% endfor %}
        </g>
        {% endfor %}
    </g>
</svg>
