<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->
<svg class="plot" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" width="620" height="350" viewbox="0 0 100% 100%" version="1.1" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <style>
        {{ content.style }}
    </style>

    {% include "svg/defs.jinja" %}

    <svg class="plot-inner" x="20" y="20" width="580" height="310" viewBox="0 0 580 310">
        <g class="grid">
        {% for i in range(0,11) %}
            {% set percentage = i * 10 %}
            <line class="horizontal" x1="{{ percentage }}%" y1="0%" x2="{{ percentage }}%" y2="100%" />
            <line class="vertical" x1="0%" y1="{{ percentage }}%" x2="100%" y2="{{ percentage }}%" />
        {% endfor %}
        </g>

        {% for dataset in content.datasets %}
        <g class="dataset" title="{{ dataset.title }}">


            {% for i in range(0, dataset.authorized_datapoints|length) %}

                {% with datapoint = dataset.authorized_datapoints[i] %}
                    <g class="datapoint">
                        <use class="marker" href="#plot-marker" x="{{ content.normalize_x(datapoint.x) }}%" y="{{ content.normalize_y(datapoint.y) }}%" />
                        <!-- TODO: error margins -->
                    </g>

                    {% if i < (dataset.authorized_datapoints|length - 1) %}
                    {% with next_datapoint = dataset.authorized_datapoints[i + 1] %}
                    <line
                        x1="{{ content.normalize_x(datapoint.x) }}%"
                        y1="{{ content.normalize_y(datapoint.y) }}%"
                        x2="{{ content.normalize_x(next_datapoint.x) }}%"
                        y2="{{ content.normalize_y(next_datapoint.y) }}%" />
                    {% endwith %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </g>
        {% endfor %}
    </svg>

    <text class="axis-label axis-x" x="20" y="350">{{ content.label_x }}</text>
    <text class="axis-label axis-y" x="0" y="330">{{ content.label_y }}</text>

</svg>
