{% if config.DEBUG %}<span class="debug-hint" title="{{ self }}">?</span>{% endif %}
{% if content.multi %}

<fieldset>
    {% if content.label %}<legend>{{ content.label }}</legend>{% endif %}
    {% for choice, label in content.choices %}
    <input
        class="{{ content.ref_id }} {{ content.prefix }}-{{ content.name }}{% if content.errors %} invalid{% endif %}"
        type="checkbox"
        name="{{content.prefix}}.{{ content.name }}"
        {% if content.readonly %}readonly{% endif %}

        {% if content.form %}
            form="{{ content.form.ref_id }}"
        {% endif %}

        value="{{ content.value_string(choice) }}"

        {% if content.checked(choice) %}checked{% endif %}

        {% if content.required %}
        required
        {% endif %}
    >
    <label>{% if label %}{{ label }}</label>{% endif %}
    {% endfor %}
</fieldset>

{% else %}

    <input
        id="{{ content.ref_id }}"
        class="{{ content.prefix }}-{{ content.name }}{% if content.errors %} invalid{% endif %}"
        type="checkbox"
        name="{{content.prefix}}.{{ content.name }}"
        {% if content.readonly %}readonly{% endif %}

        {% if content.form %}
            form="{{ content.form.ref_id }}"
        {% endif %}

        value="{{ content.value_string(content.value) }}"

        {% if content.checked(content.value) %}checked{% endif %}

        {% if content.required %}
        required
        {% endif %}
    >
    {% if content.label %}<label for="{{ content.ref_id }}">{{ content.label }}</label>{% endif %}


{% endif %}
