<label for="{{ content.prefix }}.{{ content.name }}">{{ content.label }}</label>
<input
    id="{{ content.prefix }}.{{ content.name }}"
    type="checkbox"
    name="{{content.prefix}}.{{ content.name }}"
    {% if content.errors %}class="invalid"{% endif %}

    {% if content.placeholder %}
        placeholder="{{ content.placeholder }}"
    {% endif %}

        value="1"

    {% if content.value %}
        checked
    {% endif %}
>
