<label for="{{ content.prefix }}.{{ content.name }}">{{ content.label }}</label>
<select
    id="{{ content.prefix }}.{{ content.name }}"
    name="{{ content.prefix }}.{{ content.name }}"
    {% if content.readonly %}disabled{% endif %}
    class="{% if content.errors %}invalid{% endif %}"
    {% if content.multi %}multiple{% endif %}
>

  <option value=''>{{ content.empty_label }}</option>
  {% for value, label in content.choices %}
    {% if not value is string and value is iterable  %}
      <optgroup label="{{ label }}">
        {% for subvalue, sublabel in value %}
          <option value="{{ subvalue }}" {% if subvalue == content.value %}selected{% endif %}>{{ sublabel }}</option>
        {% endfor %}
      </optgroup>
    {% else %}
      <option value="{% if value %}{{ value }}{% endif %}" {% if value == content.value %}selected{% endif %}>{{ label }}</option>
    {% endif %}
  {% endfor %}

</select>
