<label for="{{ content.prefix }}.{{ content.name }}">{{ content.label }}
    <input
        id="{{ content.prefix }}.{{ content.name }}"
        type="text"
        name="{{content.prefix}}.{{ content.name }}"
        {% if content.readonly %}readonly{% endif %}

        {% if content.placeholder %}
            placeholder="{{ content.placeholder }}"
        {% endif %}

        {% if content.value %}
            value="{{ content.value }}"
        {% endif %}
    >
</label>
