<input
    class="{{ content.prefix }}-{{ content.name }}{% if content.errors %} invalid{% endif %}"
    type="{% block type %}text{% endblock %}"
    name="{{content.prefix}}.{{ content.name }}"
    {% if content.readonly %}readonly{% endif %}

    {% if content.form %}
        form="{{ content.form.ref_id }}"
    {% endif %}

    {% if content.placeholder %}
        placeholder="{{ content.placeholder }}"
    {% endif %}

    {% if content.value %}
    value="{% block value %}{{ content.value_string }}{% endblock %}"
    {% endif %}

    {% block extra_properties %}{% endblock %}
>

{% if self.help()|trim %}
{% block help %}
    {% if content.help_text %}
       <span class="help">{{ content.help_text }}</span> 
    {% endif %}
{% endblock %}
{% endif %}
