{% if config.DEBUG %}<span class="debug-hint" title="{{ self }}">?</span>{% endif %}
<label for="{{ content.prefix}}.{{ content.name }}">
  {{ content.label }}
  <keygen name="{{ content.prefix}}.{{ content.name }}" challenge="{{ content.challenge }}"></keygen>
</label>
