{% if config.DEBUG %}<span class="debug-hint" title="{{ self }}">?</span>{% endif %}
{% with list_id = "list-%s-%s"|format(content.prefix, content.name)|replace('.', '-') %}

<input
    class="{{ content.prefix }}-{{ content.name }}{% if content.errors %} invalid{% endif %}"
    type="text"
    name="{{ content.prefix }}.{{ content.name }}"
    list="{{ list_id }}"
    
    {% if content.placeholder %}
    placeholder="{% block placeholder %}{{ content.placeholder }}{% endblock %}"
    {% endif %}

    {% if not content.empty %}
    value="{% block value %}{{ content.value_string(content.value) }}{% endblock %}"
    {% endif %}
>

<datalist id="{{ list_id }}">
{% for choice, label in content.choices %}
    <option value="{{ content.value_string(choice) }}" label="{{ label }}">
{% endfor %}
</datalist>

{% endwith %}
