<textarea name="{{ content.prefix }}.{{ content.name }}" {% if content.placeholder %}placeholder="{{ content.placeholder }}"{% endif %}>{% if content.value %}{{ content.value }}{% endif %}</textarea>
