{% if config.DEBUG %}<span class="debug-hint" title="{{ self }}">?</span>{% endif %}
<textarea name="{{ content.prefix }}.{{ content.name }}" {% if content.placeholder %}placeholder="{{ content.placeholder }}"{% endif %}>{% if not content.empty %}{{ content.value_string(content.value) }}{% endif %}</textarea>
