{% if config.DEBUG %}<span class="debug-hint" title="{{ self }}">?</span>{% endif %}

<div class="field {{ content.__class__.__name__.lower() }}">

    <label for="{{ content.ref_id }}">{% if content.label %}{{ content.label }}{% endif %}
        <textarea
            id={{ content.ref_id }}
            name="{{ content.prefix }}.{{ content.name }}"
            {% if content.placeholder %}placeholder="{{ content.placeholder }}"{% endif %}
            {% if content.required %}required{% endif %}
        >{% if not content.empty %}{{ content.value_string(content.value) }}{% endif %}</textarea>
    </label>


    {% if self.help()|trim %}
    {% block help %}
        {% if content.help_text %}
           <span class="help">{{ content.help_text }}</span> 
        {% endif %}
    {% endblock %}
    {% endif %}

</div>
