/* Define fonts */

@font-face {
    font-family: "OpenSans";
    src: url('resources/fonts/OpenSans/OpenSans-Light.ttf');
    font-weight: 100;
}

@font-face {
    font-family: "OpenSans";
    src: url('resources/fonts/OpenSans/OpenSans-LightItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url('resources/fonts/OpenSans/OpenSans-Regular.ttf');
    font-weight: 200;
}

@font-face {
    font-family: "OpenSans";
    src: url('resources/fonts/OpenSans/OpenSans-RegularItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "ClearSans";
    src: url('resources/fonts/ClearSans/ClearSans-Regular.ttf');
    font-weight: 200;
}

@font-face {
    src: url('resources/fonts/Orbitron/Orbitron Light.otf');
    font-family: "Orbitron";
    font-weight: 100;
}

@font-face {
    src: url('resources/fonts/Orbitron/Orbitron Medium.otf');
    font-family: "Orbitron";
    font-weight: 200;
}

@font-face {
    src: url('resources/fonts/Orbitron/Orbitron Bold.otf');
    font-family: "Orbitron";
    font-weight: 300;
}

@font-face {
    src: url('resources/fonts/Orbitron/Orbitron Black.otf');
    font-family: "Orbitron";
    font-weight: 400;
}

/* Basic layout */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

body {
    background-color: rgb(15,15,15);
    background-image: url('resources/mask.svg'), url('resources/bg_test.svg');
    background-attachment: fixed, scroll;
    background-size: cover, auto;
    color: #fefefe;
}

#left {
    position: fixed;
    width: 45ex;
}

#right {

    position: relative;
    margin-left: 45ex;
    width: 70ex;
    min-height: 100%;
    background: rgba(0,0,0, 0.6);

    /*&:before {
        content: '';
        position: absolute;
        width: 70ex;
        height: 100%;
        background-image: url('resources/mask.svg'), url('resources/bg_test.svg');
        background-attachment: fixed, scroll;
        background-size: cover, auto;
        background-position: 0% 0%, -45ex 0;
        -webkit-filter: blur(1ex) brightness(60%);
    }*/

    footer {
        position: fixed;
        bottom: 3rem;
        box-sizing: border-box;
        width: 70ex;
        border: 1ex solid transparent;
        border-color: transparent rgb(15,15,15);

        background: rgba(15,15,15, 0.7);
    }

    #content-wrapper {

        img {
            max-width: 100%;
            opacity: 0.9;
        }
    }
}
