{%- import 'macros.jinja' as m -%}
<div {{ m.render_attribs(value, ['children', 'actions']) }}>
    {% if value.actions %}
        <div class="actions">
            {{ m.render_recursive(value.actions) }}
        </div>
    {% endif %}

    {{ m.render_recursive(value.children) }}
</div>
