{%- macro render_recursive(structure) -%}

    {%- if structure is string -%}

        {{- structure -}}

    {%- elif structure is renderable -%}

        {{ structure.render() }}

    {%- else -%}
      {%- if structure.template|length() -%}
          {%- with value = structure['value'] -%}
              {%- include structure['template'] -%}
          {%- endwith  -%}

      {%- elif structure|length() -%}
          {%- if structure is mapping -%}
            {%- for name, child in structure.iteritems() -%}
                {{- render_recursive(child) -}}
            {%- endfor -%}
          {%- elif structure is iterable -%}
            {%- for child in structure -%}
                {{- render_recursive(child) -}}
            {%- endfor -%}
          {%- endif -%}
      {%- endif -%}

    {%- endif -%}

{%- endmacro -%}



{%- macro render_attribs(item, except = []) -%}

    {%- for key, val in item.iteritems(): -%}
        {%- if not key in except -%}
            {%- if key == 'classes' -%}
                class="{{- " ".join(val) -}}"
            {%- else -%}
                {{- key -}}="{{- val -}}"
            {% endif %}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}
