{%- import 'macros.jinja' as m -%}

<!doctype html>
<html>
    <head>
        <title>{{ page['site_name'] }} - {{ page['title'] }}</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script type="text/javascript" src="{{ url_for('static', filename='poobrains.js')  }}"></script>
    </head>
    <body>

        <section id="left">

            <header>Logo thing here</header>
                
            {{ m.render_recursive(page['regions']['menus']['main']) }}

            <aside>
                Some other stuff should be here, too
            </aside>
        </section><!-- /#left -->

        <section id="right">

            <header>
                {{ m.render_recursive(page['regions']['menus']['breadcrumb']) }}
                <h1 id="main-title">{{ page['title'] }}</h1>
            </header>

            {%- with messages = get_flashed_messages(True) -%}
                {%- if messages -%}
                    <div id="message-wrapper">
                        <ul id="messages">
                            {% for category, message in messages -%}
                                <li class="{{ category }}">{{ message }}</li>
                            {%- endfor %}
                        </ul>
                    </div>
                {%- endif -%}
            {%- endwith -%}

            <div id="content-wrapper">
                {% for key, block in page['regions']['content'].iteritems() -%}
                    <div class="block-{{ key }}">
                        {{ m.render_recursive(block) }}
                    </div>
                {%- endfor %}
            </div>

            <footer>
                {{ m.render_recursive(page['regions']['menus']['main']) }}
            </footer>

        </section><!-- /#right -->

    </body>
</html>
