{%- import 'macros.jinja' as m -%}

<nav {{ m.render_attribs(value, ['items']) }}>
    <ul>
        {%- for item in value['items'] -%}
            <li>{{ m.render_recursive(item) }}</li>
        {%- endfor -%}
    </ul>
</nav>
