{%- import 'macros.jinja' as m -%}

<table {{ m.render_attribs(value, ['head', 'rows']) -}}>
{%- if value.has_key('head') -%}
    <thead>
        <tr>
            {%- for head in value['head'] -%}
                <th>{{ m.render_recursive(head) }}</th>
            {%- endfor -%}
        </tr>
    </thead>
{%- endif -%}

{%- if value.has_key('rows') -%}
    <tbody>
        {%- for row in value['rows'] -%}
            <tr>
                {%- for field in row -%}
                    <td>
                        {{ m.render_recursive(field) }}
                    </td>
                {%- endfor -%}
            </tr>
        {%- endfor -%}
    </tbody>
{%- endif -%}
</table>
