@font-face {
    font-family: 'Clear Sans';
    src: url('fonts/clear-sans/ClearSans-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Clear Sans';
    src: url('fonts/clear-sans/ClearSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Clear Sans';
    src: url('fonts/clear-sans/ClearSans-Regular.ttf');
    font-weight: 400; /* "normal" */
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('fonts/clear-sans/ClearSans-Italic.ttf');
    font-weight: 400; /* "normal" */
    font-style: italic;
}


@font-face {
    font-family: 'Clear Sans';
    src: url('fonts/clear-sans/ClearSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('fonts/clear-sans/ClearSans-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Clear Sans';
    src: url('fonts/clear-sans/ClearSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('fonts/clear-sans/ClearSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
