{% extends "administerable.jinja" %}

{% block header %}
{% if mode == 'teaser' %}
<h2>{{ content.name }}</h2>
{% endif %}
{% endblock %}

{% block content %}
    <span class="fingerprint">{{ content.fingerprint }}</span>
    <span class="not-after">{{ content.not_after }}</span>
{% endblock %}
