{% extends "administerable.jinja" %}

{% block header %}
{% if mode == 'teaser' %}
<h2>{{ content.name }}</h2>
{% endif %}
{% endblock %}

{% block content %}
{{ content.fingerprint }}
{% endblock %}
