{% extends "renderable.jinja" %}

{% block content %}
{{ content.fingerprint }}
{% endblock %}

{% block footer %}
<footer>
    <a href="{{ content.url('delete') }}">Kill me!</a>
</footer>
{% endblock %}
