<div class="comment">
    <div class="meta">
        <span class="author">{{ content.author }}</span>
        <span class="created">{{ content.created }}</span>
    </div>
    <div class="text">
        {{ content.text }}
    </div>
    
    <div class="replies">

        {% with reply_form = content.reply_form() %}
            {% if reply_form %}
                <div class="form-wrapper">
                    <input type="checkbox" id="reply-{{ content.id }}" class="toggle" />
                    <label for="reply-{{ content.id }}" class="toggle"></label>
                    {{ reply_form.render('full') }}
                </div>
            {% endif %}
        {% endwith %}

        {% for child in content.child_comments() %}
            {{ child.render('full') }}
        {% endfor %}

    </div>


</div>
