<div class="comment">
    <div class="meta">
        <span class="author">{{ content.author }}</span>
        <span class="created">{{ content.created }}</span>
    </div>
    <div class="text">
        {{ content.text }}
    </div>
    
    <div class="replies">

        {{ content.reply_form().render('full') }}

        {% for child in content.child_comments() %}
            {{ child.render('full') }}
        {% endfor %}

    </div>


</div>
