{% extends "taggable.jinja" %}

{% block post %}
{% if mode == 'full' %}
<div class="comments">
    <div class="direct-reply">
        {{ content.comment_form().render('full') }}
    </div>
    {% for comment, children in content.comments_threaded.items() %}
        {{ comment.render('full') }}
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block footer %}
    {{ super() }}
    <span class="date">{{ content.date_pretty }}</span>
{% endblock %}
