{% extends "owned.jinja" %}

{% block post %}
<div class="comments">
    <div class="direct-reply">
        {{ content.comment_form().render('full') }}
    </div>
    {% for comment, children in content.comments_threaded.iteritems() %}
        {{ comment.render('full') }}
    {% endfor %}
</div>
{% endblock %}
