{% extends "renderable.jinja" %}

{% block header %}{% endblock %}

{% block content %}

    <div class="notifications">
        <ul>
        {% for notification in content.user.unread_notifications %}
            <li>{{ notification.render() }}</li>
        {% endfor %}
        </ul>
    </div>

    <div class="dashboard-pgp">
    <h2>PGP Public Key</h2>
    {% if  content.user.pgp_fingerprint %}
        Your PGP fingerprint is {{ content.user.pgp_fingerprint }}.
    {% else %}
        You have no assigned PGP public key.
    {% endif %}
    <a href="{{ content.pgp_update_url }}">Update it here.</a>
    </div>

    <div class="clientcerts">
        <h2>TLS Client Certificates</h2>
        {{ content.cert_table.render() }}
    </div>
{% endblock %}
