{% if config.DEBUG %}<span class="debug-hint" title="{{ self }}">?</span>{% endif %}
<article class="error">
    <header>
        <h2>VERY ERROR. SUCH DISGRACE. MANY SORRY.</h2>
    </header>

    <div class="content">
        {% if content.description %}
        <em>{{ content.description }}</em>
        {% else %}
        <em>{{ content.message }}</em>
        {% endif %}
    </div>
</article>
