{% if config.DEBUG %}<span class="debug-hint" title="{{ self }}">?</span>{% endif %}
<div class="footer-wrapper">This shit site is powered by <a href="https://github.com/phryk/poobrains" target="_blank">poobrains</a></div>
