<form name="{{ content.name }}" method="{{ content.method }}" {% if content.action %}action="{{ content.action }}"{% endif %}>

{{ content.render_fields() }}

{% if content.controls %}
    <ul class="controls">
        {% for control in content.controls %}
            <li>{{ control.render() }}</li>
        {% endfor %}
    </ul>
{% endif %}

</form>
