{% if config.DEBUG %}<span class="debug-hint" title="{{ self }}">?</span>{% endif %}
<a id="logo-link" href="/" title="Florp me!"><object id="logo" data="/theme/logo.svg"></object></a>

<div class="sticky">

    {% block menu_main %}
    {% if g.boxes.menu_main %}
        {{ g.boxes.menu_main.render() }}
    {% endif %}
    {% endblock %}

    {% block search %}
    {% if g.boxes.search %}
        {{ g.boxes.search.render() }}
    {% endif %}
    {% endblock %}

</div>
