<ul class="listing">
    {% for item in content.items %}
        <li>{{ item.render('teaser') }}</li>
    {% endfor %}
</ul>

{% if content.pagination %}
    <footer>
        {{ content.pagination.render() }}
    </footer>
{% endif %}

