<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ g.title }}</title>
        <link rel="stylesheet" type="text/css" href="/theme/main.scss">
    </head>
    
    <body>
        <header>
            <div class="sticky">
                {% block menu_main %}
                {% if g.boxes.menu_main %}
                    {{ g.boxes.menu_main.render() }}
                {% endif %}
                {% endblock %}

                {% for n in g.forms.keys() %}
                  FORM: {{ n.__class__ }}
                {% endfor %}

                {% block search %}
                {% if g.boxes.search %}
                    {{ g.boxes.search.render() }}
                {% endif %}
                {% endblock %}
            </div>
        </header>
        <main>
            <header>

                {% block breadcrumb %}{{ g.boxes['breadcrumb'].render() }}{% endblock %}

                <h1>{{ g.title }}</h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="messages">
                            {% for category, message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                {% if g.content.menu_actions %}
                    {{ g.content.menu_actions.render() }}
                {% endif %}

                {% if g.content.menu_related %}
                    {{ g.content.menu_related.render() }}
                {% endif %}

            </header>
            <section id="content">
                {{ content.render(mode) }}
            </section>
        </main>
    </body>
</html>
