<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ g.title }}</title>
        <link rel="stylesheet" type="text/css" href="/theme/main.scss">
    </head>
    
    <body>
        <header>
            <div class="sticky">
                {% if g.boxes.menu_main %}
                    {{ g.boxes.menu_main.render() }}
                {% endif %}

                {% for n in g.forms.keys() %}
                  FORM: {{ n.__class__ }}
                {% endfor %}
            </div>
        </header>
        <main>
            <header>
                <h1>{{ g.title }}</h1>

                {% if g.content.actions %}
                    {{ g.content.actions.render() }}
                {% endif %}

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="messages">
                            {% for category, message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </header>
            <section id="content">
                {{ content.render(mode) }}
            </section>
        </main>
    </body>
</html>
