/*@import('static/ostrich/ostrich-sans.css');*/
@import '/theme/fonts/ostrich-sans/ostrich-sans.css';
@import '/theme/fonts/open-sans/open-sans.css';

@import 'colors';

@keyframes blink {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 56rem) {

    #logo {
        display: flex !important;
    }

    body > header {
        border-bottom: none !important;

        .sticky { 
            width: 13rem;
            overflow-wrap: break-word;
        }
    }

    main {
        padding-left: 1rem;
        max-width: 40rem;
    }
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll; /* always show vertical scrollbar, viewport dependant widths stay the same */
    background-image: url('/theme/bg.svg'), linear-gradient(45deg, opacify($color_background_dark, 0.2), $color_highlight);
    /*background-image: url('/theme/pooscape-probablyold.svg'), linear-gradient(to bottom, opacify($color_background_dark, 0.2), darken(opacify($color_highlight, 0.2), 40%) 100%);*/
    /*background-image: url('/theme/test.png');*/
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /*color: rgba(255, 255, 255, 0.9);*/
    color: $color_font_light;
    font-family: 'Open Sans', sans;
    overflow-wrap: break-word;
}

body {

    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    max-width: 55rem;
    min-height: 100vh;


    & > header {

        position: sticky;
        top: 0;
        flex-basis: 15rem;
        flex-shrink: 1;
        flex-grow: 15;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        max-height: 100vh;
        box-sizing: border-box;
        padding: 1rem;
        z-index: 200;
        background-color: $color_background_dark;
        /*border-left: 0.25rem solid;
        border-right: 0.25rem solid;
        border-bottom: 0.25rem solid;
        border-color: $color_border;*/
        
        /*-webkit-clip-path: polygon(0 0, 0 calc(100% - 3rem), 50% 100%, 100% calc(100% - 3rem), 100% 0);*/

        overflow: hidden;
        
        & > .sticky {
            overflow-y: auto;
            overflow-x: hidden;
            position: sticky;
            top: 0;
            flex-shrink: 1;
        }

        nav.menu.main {


            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;

                li {
                    flex-shrink: 1;
                    min-width: 7.5rem;
                    margin-right: 0.5rem;
                    font-size: 2rem;
                    line-height: 100%;


                    a {
                        width: 100%;

                        &::after {
                            content: "█";
                            margin-left: 0.25rem;
                            vertical-align: 15%;
                            font-size: 75%;
                            text-shadow: $color_highlight 0 0 1rem;
                            opacity: 0;
                        }

                        &:hover,
                        &:focus {
                        
                            &::after {
                                animation: blink 0.5s ease-in-out infinite;
                            }
                        }
                    }
                }
            }
        }

        #logo {

            display: none;
            flex-basis: 7.5rem;
            flex-grow: 1;
            flex-shrink: 0;
            align-self: center;
            justify-self: flex-end;
            max-height: 7.5rem;
        }
    }
}

main {

    /* Flex of main children */
    display: flex;
    flex-direction: column;
    /* "parent" flex */
    flex-basis: 40rem;
    flex-shrink: 1;
    flex-grow: 40;

    box-sizing: border-box;
    
    nav.menu {

        ul {
            li {
                display: inline;

                a {
                    display: inline-block;
                    position:relative;
                    padding: 0.25rem;
                }
            }
        }
    }

    & > header {

        position: sticky;
        top: 0;
        padding: 2rem 1rem;
        background: $color_background_light;
        color: $color_font_dark;
        z-index: 110;

        h1 {
            margin: 0;
            font-size: 4.5rem;
            transform: rotate(-5deg);
            text-align: center;
            text-shadow: 0 0 0.5rem $color_font_dark;
            position: relative;
        }

        nav.menu {
            display: block;
            top: 0;
            z-index: 120;
            font-size: 1.8rem;

            &:last-child {
                margin-bottom: -2rem;
            }

            &.breadcrumb {

                margin: 0;
                margin-top: -2rem;
                margin-bottom: 3rem;

                font-size: 1.2rem;
                letter-spacing: 0.1rem;

                ul {
                    li {
                        &:after {
                            content: '/';
                        }

                        &:last-child:after {
                            content: '';
                        }
                        a {

                            padding-top: 0.5rem;
                            margin-right: 0.25rem;
                            color: $color_font_dark;
                            background-image: linear-gradient(to top, rgba(0,0,0, 1.0), rgba(0,0,0, 1.0) 100%);
                            background-size: 100% 0;
                            background-repeat: no-repeat;
                            background-position: top;
                            transition: background 0.3s, color 0.3s;

                            &:hover,
                            &:focus,
                            &.active {
                                /*background-image: none;*/
                                outline: none;
                                background-size: 100% 100%;
                                color: $color_highlight;
                            }
                        }
                    }
                }
            }


            &.actions {

                margin-top: 3rem;

                ul {
                    li {
                        a {
                            color: $color_font_dark;
                            
                            background-image: linear-gradient(to bottom, rgba(0,0,0, 1.0), rgba(0,0,0, 1.0) 100%);
                            background-size: 100% 0;
                            background-repeat: no-repeat;
                            background-position: bottom;
                            transition: background 0.3s, color 0.3s;

                            &.trace {
                                color: $color_font_dark;
                                text-shadow: 0 0 0.25rem $color_font_dark;
                            }

                            &:hover,
                            &:focus,
                            &.active,
                            &.trace:hover,
                            &.trace:focus {
                                background-size: 100% 100%;
                                color: $color_highlight;
                            }
                        }
                    }
                }
            }

            &.related {
                background: #000;
                /*font-family: 'Open Sans', sans;
                font-size: 1rem;*/

                a {
                    color: $color_font_light;
                    transition: color 0.3s;
                    background-image: none;

                    &.trace {
                      color: lighten($color_highlight, 30%);
                    }

                    &:hover,
                    &:focus,
                    &.trace:hover,
                    &.trace:focus {
                        color: $color_highlight;
                    }
                }
            }
        }
    }

    #content {

        display: flex;
        flex-basis: 100%;

        & > * {

            display: block;
            position: relative;
            box-sizing: border-box;
            width: 100%;
            padding: 1rem;
            background: $color_background_dark;
            z-index: 100;
            /*border: 0.25rem solid;
            border-top: none;
            border-bottom: none;
            border-color: $color_border;*/
        }
    }
}

nav.menu {

    font-family: 'Ostrich Sans', sans;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            a {

                outline: none;
            }
        }
    }
}

ul {
    list-style: square;

    &.listing {
        margin: 0;
        margin-top: 1rem;
        padding: 0;
        padding-left: 1rem;

        li {
            margin-top: 1rem;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

a {

    color: $color_font_light;
    text-decoration: none;
    transition: color 0.3s;

    &.active,
    &.trace,
    &:hover,
    &:focus {
        color: $color_highlight;
    }
}

article {

    line-height: 1.5;
    font-weight: lighter;
    font-size: 1.2rem;

    p:first-child {
        margin-top: 0;
    }

    img {
        max-width: 100%;
        opacity: 0.8;
        transition: opacity 0.3s ease-in;

        &:hover {
            opacity: 1;
        }
    }

    footer {

        border-bottom: 1px solid opacify(opacify($color_font_light, 1), -0.8);

        nav {
            font-weight: normal;
            font-size: 1.5rem;
        }
    }
}

audio,
video {
    width: 100%;
}

form {

    padding: 0;
    margin: 0;

    & > * {
      display: block;
      width: 100%;
    }

    input,
    select,
    textarea,
    button {

        border: 0;
        background: $color_background_form;
        font-size: 1rem;
        line-height: 150%;
        color: $color_font_dark;
        outline: none;
        transition: background 0.3s ease-in-out;

        &:hover,
        &:focus {
          background: $color_highlight;
        }
    }

    textarea {

        width: 100%;
        resize: vertical;
        background: $color_background_form;
        min-height: 5em;
    }

    select {

      option {
        outline: none;
      }
    }

    fieldset {
        
        margin: 0;
        border: 0;
        padding: 0;
    }

}

#search {


        input {
                display: inline-block;
                font-weight: bold;
                width: 50%;

                &:focus {
                    width: 70%;
                }
        }
        button {
                display: inline;
                width: 30%;
        }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ostrich Sans Inline', sans;
  font-weight: normal;
  font-style: italic;
  margin: 1rem 0;
  padding: 0;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3rem;
}
        
input.toggle {

    display: none;

    & + label.toggle {

        display: block;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        background: #0f0;

    }
}


div.comment {

    border-left: 0.25rem solid $color_background_light;
    padding: 0.25rem;
    
    div.replies {
        padding-left: 0.75rem;

        & form {
            overflow: hidden;
            width: 0;
            height: 0;
            transition: width 0.5s, height 0.3s;
        }

        input.toggle {

            display: none;

            & + label.toggle {
                background: url('/theme/icons/reply.svg');
            }

            &:checked + label.toggle + form {
                width: 100%;
                height: 10em;
            }
        }
    }
}
