<!doctype html>
<html>
    <head>
        <title>{{ g.title }}</title>
        <link rel="stylesheet" type="text/css" href="/theme/main.css">
    </head>
    
    <body>
        <header>
            {% if g.boxes.menu_main %}
                {{ g.boxes.menu_main.render() }}
            {% endif %}
        </header>
        <main>
            <header>
                <h1>{{ g.title }}</h1>

                {% if g.content.actions %}
                    {{ g.content.actions.render() }}
                {% endif %}

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="messages">
                            {% for category, message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </header>
            {{ content.render(mode) }}
        </main>
        <footer>
          You are {{ user.name }}.
        </footer>
    </body>
</html>
