<nav id="{{ content.name }}">
    <ul>
    {% for item in content.items: %}
    <li><a {% if item.active %} class="active" {% endif %}href="{{ item.url }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>
</nav>
