{% extends "administerable.jinja" %}

{% block header %}
{% if mode == 'teaser' %}
    <h2><a href="{{ content.url('full', quiet=True) or content.url('edit', quiet=True) }}">{{ content.name }}</a></h2>
{% elif mode == 'inline' %}
    <h3><a href="{{ content.url('full', quiet=True) or content.url('edit', quiet=True) }}">{{ content.name }}</a></h3>
{% endif %}
{% endblock %}
