{% extends "administerable.jinja" %}

{% block header %}
{% if mode == 'inline' %}
    <h3><a href="{{ content.url('full', quiet=True) or content.url('edit', quiet=True) }}" title="{{ content.title }}">{{ content.name }}</a></h3>
{% elif mode != 'full' %}
    <h2><a href="{{ content.url('full', quiet=True) or content.url('edit', quiet=True) }}" title="{{ content.title }}">{{ content.name }}</a></h2>
{% endif %}
{% endblock %}
