{% extends 'renderable.jinja' %}

{% block header%}{% endblock %}

{% block content %}
    {{ content.table.render() }}
    {{ content.form.render() }}
{% endblock %}

{% block footer %}
{% if content.pagination %}
    {{ content.pagination.render() }}
{% endif %}
{% endblock %}
