{% extends "administerable.jinja" %}

{% block footer %}
    <span class="author"><a href="{{ content.owner.url(quiet=False) }}" title="{{ content.owner.about|truncate }}">{{ content.owner.name }}</a></span>
    {{ super() }}
{% endblock %}
