{% extends "administerable.jinja" %}

{% block header %}{% endblock %}

{% block content %}
    {{ content.content.render() }}
{% endblock %}

{% block footer %}{% if mode != 'full' %}
    {{ super() }}
{% endif %}{% endblock %}
