/* NOTE: This file depends on colors.scss being included beforehand for $color_highlight */

$palette_size: 4;
$palette_rotation: 180; /* overall hue rotation of the palette */
$palette: ();
/*@for $i from 1 through $palette_size {
   $palette: append($palette, adjust_hue($color_highlight, ($palette_rotation/$palette_size) * ($i - 1)));
}*/


@for $i from 1 through $palette_size {

    @if $i % 2 == 0 {
        $color = adjust_hue($color_highlight, 180); /* make this a complementary palette */
    } @else {
        $color = $color_highlight;
    }

   $palette: append($palette, adjust_hue($color, ($palette_rotation/$palette_size) * ($i - 1)));
}
