<article class="content-type-{{ content.__class__.__name__.lower() }} mode-{{ mode }}">
    
    {% if self.header() %}
        <header>
        {% block header %}
            <h2>Missing template!</h2>
        {% endblock %}
        </header>
    {% endif %}

    {% block content %}
    <div>
        This is the ultimate fallback template. Somebody probably ought to implement one of these templates:
        <ul>
            {% for template in content.templates() %}
                <li>{{ template }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}

    {% if self.footer() %}
    <footer>
        {% block footer %}{% endblock %}
    </footer>
    {% endif %}
</article>

{% block post %}{% endblock %}
