<div class="{{ content.__class__.__name__.lower() }}">
    This is the base template for Storables. Somebody probably ought to implement a template for {{ content.__class__.__name__ }}.
    {{ content.templates() }}
    {% if mode == 'teaser' %}
    {{ content.actions.render() }}
    {% endif %}
</div>
