@import 'colors';

@keyframes test {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    fill: $color_background_dark !important;
    stroke: $color_highlight !important;

}

use {
    /*animation: test 13s linear infinite;*/
    transition: fill 0.5s;

    &:hover {
        fill: $color_background_light !important;
    }

    &:nth-child(2n){
        animation-delay: 1s;
    }

    &:nth-child(3n){
        animation-delay: 2s;
    }

    %:nth-child(4n){
        animation-delay: 3s;
    }

    %:nth-child(5n){
        animation-delay: 4s;
    }

    %:nth-child(6n){
        animation-delay: 5s;
    }

    %:nth-child(7n){
        animation-delay: 6s;
    }

    %:nth-child(8n){
        animation-delay: 7s;
    }

    %:nth-child(9n){
        animation-delay: 8s;
    }

    %:nth-child(10n){
        animation-delay: 9s;
    }
    
    %:nth-child(11n){
        animation-delay: 10s;
    }
}

