@import 'colors';



@keyframes scroll {
    0% {
    }

    100% {
        transform: translateY(-170px);
    }
}

@keyframes bump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

svg#hexascroll {

    g#hexagon-wrapper {
        /*animation: scroll 30s linear infinite;*/
    }

    use {
        fill: opacify($color_background_dark, -0.2);
        stroke: $color_background_light;
        stroke-width: 2;

        &.hexagon {
            transition: fill 0.5s;

            &:hover {
                fill: $color_background_light !important;
            }

            &:nth-child(8n){
                /*animation: bump 2s linear infinite;*/
            }
        }
    }
}

path#icon {
    stroke: $color_highlight;
}

.plot {

    background: $color_background_dark;

    .grid {

        line {
            stroke: opacify($color_font_light, -80%);
            stroke-width: 2px;
        }
    }

    .axis-label {

        font-size: 14px;
        fill: $color_font_light;

        &.axis-y {
            transform-origin: 0px 330px;
            transform: rotate(-90deg) translate(5px, 15px);
        }
    }

    .dataset {

        transition: opacity 0.3s linear;
        opacity: 0.5;

        &:hover,
        &:focus,
        &:target {
            opacity: 1;
        }

        circle {
            fill: $color_highlight;
        }

        line {
            stroke: $color_font_light;
            stroke-width: 3px;
        }
    }
}

.map {

    .country {

        stroke: $color_background_light;
        fill: $color_background_dark;
        opacity: 0.8;
        transition: opacity 0.3s linear;

        &:hover {
            opacity: 1;
        }
    }
}
