@import 'colors';



@keyframes scroll {
    0% {
    }

    100% {
        transform: translateY(-170px);
    }
}

@keyframes bump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

svg#hexascroll {

    g#hexagon-wrapper {
        /*animation: scroll 30s linear infinite;*/
    }

    use {
        fill: opacify($color_background_dark, -0.2);
        stroke: $color_background_light;
        stroke-width: 2;

        &.hexagon {
            transition: fill 0.5s;

            &:hover {
                fill: $color_background_light !important;
            }

            &:nth-child(8n){
                /*animation: bump 2s linear infinite;*/
            }
        }
    }
}

path#icon {
    stroke: $color_highlight;
}

.plot {

    background: $color_background_dark;

    .grid {

        line {
            stroke: opacify($color_font_light, -80%);
            stroke-width: 2px;
        }
    }

    .axis-label {

        font-size: 14px;
        fill: $color_font_light;

        &.axis-y {
            transform-origin: 0px 330px;
            transform: rotate(-90deg) translate(5px, 15px);
        }
    }

    .dataset {

        transition: opacity 0.3s linear;
        opacity: 0.5;

        &:hover,
        &:focus,
        &:target {
            opacity: 1;
        }

        circle {
            fill: $color_highlight;
        }

        line {
            stroke: $color_font_light;
            stroke-width: 3px;
        }
    }
}

.map {

    .country {

        stroke: opacify($color_background_light, -20%);
        stroke-width: 0.1rem;
        stroke-miterlimit: 1;
        fill: opacify($color_background_dark, -20%);
        transition: fill 0.3s linear, stroke 0.3s linear;

        &:hover {
            stroke: $color_highlight;
            fill: mix($color_highlight, $color_background_dark, 25%);
        }

        g,
        path {
            stroke-width: 0.1rem;
        }

    }
}

.map-dataset {

    .map-datapoint {

        .marker {
            fill: transparentize($color_background_light, 20%);
        }

        text {
            display: none;
            opacity: 0;
            fill: $color_font_light;
            font-size: 1rem;
            /*transform: translateY(1rem);*/
            transition: opacity 0.3s linear;
        }

        &:hover {

            .marker {
                fill: $color_highlight;
            }

            text {
                display: block;
                opacity: 1;
                text-shadow: 0 0 0.5rem #000, 0 0 0.5rem #000, 0 0 0.5rem #000, 0 0 0.5rem #000;
                background: #111;
            }
        }


    }
}
