{% if config.DEBUG %}<span class="debug-hint" title="{{ self }}">?</span>{% endif %}
<table class="{{ content.name }}">
    <thead>
        <tr>
        {% for column in content.columns %}
            <th>{{ column }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in content.rows %}
    <tr {% if row.classes %}class="{{ row.classes }}"{% endif %}>
        {% for column in row %}
            {% if column is renderable %}
                <td>{{ column.render() }}</td>
            {% else %}
                <td>{{ column }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor%}
    </tbody>
</table>
