{% extends "named.jinja" %}

{% block content %}
{{ content.about.render() }}
{% endblock %}

{% block post %}

<ul class="listing">
    {% for item in content.profile_posts %}
        <li>{{ item.render('teaser') }}</li>
    {% endfor %}
</ul>

{% if content.profile_pagination.menu %}
    {{ content.profile_pagination.menu.render() }}
{% endif %}

{% endblock %}

