<article id="news-{{ content.id }}" class="news teaser">
    <header>
        <h2><a href="{{ content.url() }}">{{ content.title }}</a></h2>
    </header>

    {{ content.text|truncate(255) }}

</article>
