{% extends "taggable.jinja" %}

{% block content %}
<div class="paste">
        {{ content.type }}
        {% if mode == 'full' %}
            {{ content.text }}
        {% else %}
            {{ content.text|truncate }}
        {% endif %}
</div>
{% endblock %}
